{% extends 'my_app/layoute.html' %}

{% block title %}
    <title>О Нас</title>
{% endblock %}

{% block content %}
<h1>О Нас</h1>
<p>Наша компания была основана в 2023 году с целью предоставления высококачественных услуг в области веб-разработки. Мы гордимся нашей командой профессионалов, которые готовы решать самые сложные задачи.</p>
<p>Наша миссия — создавать инновационные и удобные решения, которые помогут нашим клиентам достичь их целей.</p>
<h2>Наша Команда</h2>
<p>Мы — молодая и энергичная команда специалистов, которая верит в силу технологий и их влияние на развитие бизнеса. Каждый из нас вкладывает душу в свою работу, чтобы вы получали только лучшие результаты.</p>
{% endblock %}